* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 365px;
  /* max-width: 1166px; */
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* -------------header------------ */
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  gap: 90px;
  align-items: center;
}
.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: calc(20 / 18);
  letter-spacing: calc(-0.03em / 18);
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-logo-italic {
  font-style: italic;
  margin-right: 5px;
}
.header-menu-list {
  display: flex;
  gap: 24px;
}
.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.header-menu-link:hover {
  color: #fd9222;
}
.header-menu-link:focus {
  color: #fd9222;
}
.header-soc-list {
  display: flex;
  gap: 14px;
}
/* --------------------------- */

/* ------------hero------------ */
.hero {
  border-radius: 30px;
  padding-bottom: 80px;
}
.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}
.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}
.hero-button {
  display: flex;
  align-items: center;
}
.hero-buy-btn {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border-radius: 100px;
  background: #fd9222;
  border: none;
  padding: 14px 40px;
  margin-right: 14px;
}
.hero-made-btn {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  padding: 14px 40px;
  background-color: transparent;
}
.hero-down-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  margin-left: auto;
}
/* ------------------------ */

/* ------------features------------ */
.features {
  background: #1e1823;
  padding-bottom: 50px;
  padding-top: 50px;
}

.features-list {
  display: flex;
  gap: 88px;
  padding-left: 18px;
  padding-right: 18px;
}
.features-item {
  width: calc((100% - 88px * 2) / 3);
}
.features-item-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* -------------------------------- */

/* ------------taste------------ */
.taste {
  padding-top: 120px;
}
.taste-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 412px;
  margin: 0 auto 28px;
}
.taste-title span {
  color: #fd9222;
}
.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin: 0 auto 50px;
  max-width: 486px;
}
.taste-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}
.taste-item {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
  width: calc ((100% - 32px * 3) / 4);
  padding: 28px 23px;
}
.taste-img {
  margin: 0 auto;
  margin-bottom: 36px;
}
.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-left: 5px;
}
/* ----------------------------- */

/* ------------made------------ */
.made {
  padding-top: 120px;
}
.made-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.made-title span {
  color: #fd9222;
}
.made-wrap {
  display: flex;
  gap: 20px;
}
.made-content {
  background-color: #fff;
  padding: 32px;
}
.made-img {
}
.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
}
.made-list {
}
.made-item {
  margin-top: 24px;
}
.made-text {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* ----------------------------- */

/* ------------products------------ */
.products {
  /* padding-top: 120px; */
  padding-top: 80px;
}
.products-title {
  color: #111;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 22px;
  /* margin-bottom: 50px; */
  /* line-height: 1.17; */
  /* font-size: 24px; */
}
.products-title span {
  color: #fd9222;
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* gap: 24px 18px; */
  gap: 22px;
}
.products-item {
  /* width: calc((100% - 54px) / 4); */
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 32px 20px;
  background: #fff;
}
.products-img {
  margin-bottom: 8px;
  margin: 0 auto;
}
.products-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.products-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
  text-align: center;
}
.products-btn {
  display: block;
  padding: 8px 20px;
  font-family: inherit;
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}
/* ----------------------------- */

/* ------------sellers------------ */
.sellers {
  /* padding-top: 120px; */
  padding-top: 80px;
}
.sellers-title {
  text-align: center;
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
  /* margin-bottom: 50px; */
}
.sellers-title span {
  color: #fd9222;
}
.sellers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.sellers-item {
  /* width: calc((100% - 16px * 2) / 3); */
  width: 100%;
  padding-bottom: 28px;
  position: relative;
  border-radius: 15px;
}
.sellers-img {
}
.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
}
/* ----------------------------- */

/* ------------loved------------ */
.loved {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 80px;
  padding-bottom: 80px;
}
.loved-title {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 74px;
  text-align: center;
  /* margin-bottom: 90px; */
}
.loved-title span {
  color: #fd9222;
}
.loved-list {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 90px;
  margin-bottom: 32px;
  /* margin-bottom: 50px; */
}
.loved-item {
  width: 100%;
  /* width: calc((100% - 56px) / 3); */
  padding: 56px 18px 42px 18px;
  /* padding: 56px 24px 24px 24px; */
  border: 1px solid rgba(17, 17, 17, 0.1);
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
}
.loved-img {
  position: absolute;
  top: -40%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.loved-item-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
}
.loved-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-item-btn {
  display: block;
  font-family: Montserrat;
  color: #111;
  font-family: inherit;
  font-size: 14px;
  /* font-size: 18px; */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  padding: 12px 28px;
  border-radius: 100px;
  border: 1px solid #fd9222;
  margin: 0 auto;
  background: #fafafa;
}
.loved-item-btn:hover {
  color: #fafafa;
  background-color: #fd9222;
}
/* ----------------------------- */

/* ------------footer------------ */
.footer {
  background: #1e1823;
}
.footer-heading {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}
.footer-heading span {
  color: #fd9222;
}
.footer-subtitle {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-soc-link {
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}
.footer-navigation {
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -0.02em;
}
.footer-menu-link:hover {
  color: #fd9222;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
  .products-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
  .products {
    padding-top: 100px;
  }
  .products-list {
    gap: 24px 18px;
  }
  .products-item {
    width: calc((100% - 32px) / 3);
  }
  .sellers {
    padding-top: 100px;
  }
  .sellers-title {
    margin-bottom: 50px;
  }
  .sellers-item {
    width: calc((100% - 16px) / 2);
  }
  .loved {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .loved-title {
    margin-bottom: 90px;
  }
  .loved-list {
    margin-bottom: 50px;
    gap: 58px 16px;
    justify-content: center;
  }
  .loved-item {
    width: calc((100% - 32px) / 3);
    padding: 56px 24px 24px 24px;
  }
  .loved-item-btn {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
    margin: 0 auto;
  }
  .products-item {
    width: calc((100% - 54px) / 5);
  }
  .sellers {
    padding-top: 120px;
  }
  .loved {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .loved-item {
    width: calc((100% - 56px) / 4);
  }
  .loved-list {
    gap: 28px;
  }
}
